In [1]:
# standard imports for Pandas and %sql magic
import pandas as pd
%load_ext sql

# initialize a database connection; may have to adjust username and password 
%sql mysql+pymysql://root:mysql@localhost/deals

C:\Users\russ\Anaconda3\lib\site-packages\pymysql\cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

'Connected: root@deals'

In [2]:
%%sql
USE Deals; 
#Create a view named DealValues that lists the DealID, total dollar value and number of parts for each deal.
DROP VIEW IF EXISTS DealValues;
CREATE VIEW DealValues AS
SELECT DEALS.dealid, SUM(DollarValue) AS TotDollarValue, COUNT(PartNumber) AS NumParts
FROM DEALS JOIN DEALPARTS on (DEALS.DealID = DEALPARTS.DealID)
Group by DEALS.DealID
ORDER BY DEALS. DealID;
SELECT * from DealValues;

0 rows affected.
0 rows affected.
0 rows affected.
151 rows affected.

[(1, Decimal('5600.0000'), 1),
 (2, Decimal('1700.0000'), 1),
 (3, Decimal('1120.0000'), 1),
 (4, Decimal('4000.0000'), 1),
 (5, Decimal('1500.0000'), 1),
 (6, Decimal('1600.0000'), 1),
 (7, Decimal('1870.0000'), 1),
 (8, Decimal('3700.0000'), 1),
 (9, Decimal('1600.0000'), 1),
 (10, Decimal('1200.0000'), 1),
 (11, Decimal('1617.0000'), 1),
 (12, Decimal('1360.0000'), 1),
 (13, Decimal('1270.0000'), 1),
 (14, Decimal('4210.0000'), 1),
 (15, Decimal('1150.0000'), 1),
 (16, Decimal('9700.0000'), 1),
 (17, Decimal('1050.0000'), 1),
 (18, Decimal('7000.0000'), 1),
 (19, Decimal('3400.0000'), 1),
 (20, Decimal('9500.0000'), 1),
 (21, Decimal('6590.0000'), 1),
 (22, Decimal('1700.0000'), 1),
 (23, Decimal('1100.0000'), 1),
 (24, Decimal('1355.0000'), 1),
 (25, Decimal('10900.0000'), 1),
 (26, Decimal('1650.0000'), 1),
 (27, Decimal('1900.0000'), 1),
 (28, Decimal('6500.0000'), 1),
 (29, Decimal('1800.0000'), 1),
 (30, Decimal('1200.0000'), 1),
 (31, Decimal('1500.0000'), 1),
 (32, Decimal('1230.0000'), 1),
 (33, Decimal('2820.0000'), 1),
 (34, Decimal('1000.0000'), 1),
 (35, Decimal('1000.0000'), 1),
 (36, Decimal('10500.0000'), 1),
 (37, Decimal('2223.0000'), 1),
 (38, Decimal('1800.0000'), 1),
 (39, Decimal('1700.0000'), 1),
 (40, Decimal('1000.0000'), 1),
 (41, Decimal('3700.0000'), 1),
 (42, Decimal('1500.0000'), 1),
 (43, Decimal('2000.0000'), 1),
 (44, Decimal('1100.0000'), 1),
 (45, Decimal('1080.0000'), 1),
 (46, Decimal('1300.0000'), 1),
 (47, Decimal('2950.0000'), 1),
 (48, Decimal('1100.0000'), 1),
 (49, Decimal('8000.0000'), 1),
 (50, Decimal('1500.0000'), 1),
 (51, Decimal('9000.0000'), 1),
 (52, Decimal('1770.0000'), 1),
 (53, Decimal('7300.0000'), 1),
 (54, Decimal('5000.0000'), 1),
 (55, Decimal('1500.0000'), 1),
 (56, Decimal('1300.0000'), 1),
 (57, Decimal('1180.0000'), 1),
 (58, Decimal('1075.0000'), 1),
 (59, Decimal('1590.0000'), 1),
 (60, Decimal('1100.0000'), 1),
 (61, Decimal('2800.0000'), 1),
 (62, Decimal('2625.0000'), 2),
 (63, Decimal('2300.0000'), 1),
 (64, Decimal('1400.0000'), 1),
 (65, Decimal('2600.0000'), 1),
 (66, Decimal('2500.0000'), 1),
 (67, Decimal('3000.0000'), 1),
 (68, Decimal('3000.0000'), 1),
 (69, Decimal('1200.0000'), 1),
 (70, Decimal('1392.0000'), 1),
 (71, Decimal('1920.0000'), 1),
 (72, Decimal('8260.0000'), 1),
 (73, Decimal('1800.0000'), 1),
 (74, Decimal('1900.0000'), 1),
 (75, Decimal('6200.0000'), 1),
 (76, Decimal('1389.0000'), 1),
 (77, Decimal('1667.0000'), 1),
 (78, Decimal('3250.0000'), 1),
 (79, Decimal('3000.0000'), 1),
 (80, Decimal('15500.0000'), 1),
 (81, Decimal('4000.0000'), 1),
 (82, Decimal('2500.0000'), 1),
 (83, Decimal('1197.0000'), 1),
 (84, Decimal('2000.0000'), 1),
 (85, Decimal('1057.0000'), 1),
 (86, Decimal('1060.0000'), 1),
 (87, Decimal('4900.0000'), 1),
 (88, Decimal('1200.0000'), 1),
 (89, Decimal('1710.0000'), 1),
 (90, Decimal('1100.0000'), 1),
 (91, Decimal('1500.0000'), 1),
 (92, Decimal('1200.0000'), 1),
 (93, Decimal('1200.0000'), 1),
 (94, Decimal('1780.0000'), 1),
 (95, Decimal('2560.0000'), 1),
 (96, Decimal('2600.0000'), 1),
 (97, Decimal('2322.0000'), 1),
 (98, Decimal('1450.0000'), 1),
 (99, Decimal('2900.0000'), 1),
 (100, Decimal('2237.0000'), 1),
 (101, Decimal('12000.0000'), 1),
 (102, Decimal('1000.0000'), 1),
 (103, Decimal('78880.0000'), 3),
 (104, Decimal('1300.0000'), 1),
 (105, Decimal('1880.0000'), 1),
 (106, Decimal('1600.0000'), 1),
 (107, Decimal('9000.0000'), 1),
 (108, Decimal('1000.0000'), 1),
 (109, Decimal('1216.0000'), 1),
 (110, Decimal('2350.0000'), 1),
 (111, Decimal('2300.0000'), 1),
 (112, Decimal('1700.0000'), 1),
 (113, Decimal('1300.0000'), 1),
 (114, Decimal('1450.0000'), 1),
 (115, Decimal('18000.0000'), 1),
 (116, Decimal('1490.0000'), 1),
 (117, Decimal('3000.0000'), 2),
 (118, Decimal('13000.0000'), 1),
 (119, Decimal('3000.0000'), 1),
 (120, Decimal('1250.0000'), 1),
 (121, Decimal('1230.0000'), 1),
 (122, Decimal('19500.0000'), 2),
 (123, Decimal('3900.0000'), 2),
 (124, Decimal('1000.0000'), 1),
 (125, Decimal('8180.0000'), 1),
 (126, Decimal('1700.0000'), 1),
 (127, Decimal('3100.0000'), 1),
 (128, Decimal('1800.0000'), 1),
 (129, Decimal('1100.0000'), 1),
 (130, Decimal('4100.0000'), 1),
 (131, Decimal('1750.0000'), 1),
 (132, Decimal('1525.0000'), 1),
 (133, Decimal('1810.0000'), 1),
 (134, Decimal('2200.0000'), 1),
 (135, Decimal('1600.0000'), 1),
 (136, Decimal('1000.0000'), 1),
 (137, Decimal('6600.0000'), 1),
 (138, Decimal('1050.0000'), 1),
 (139, Decimal('6800.0000'), 1),
 (140, Decimal('1000.0000'), 1),
 (141, Decimal('2640.0000'), 2),
 (142, Decimal('1330.0000'), 1),
 (143, Decimal('3460.0000'), 1),
 (144, Decimal('5300.0000'), 1),
 (145, Decimal('1100.0000'), 1),
 (146, Decimal('1000.0000'), 1),
 (147, Decimal('1283.0000'), 1),
 (148, Decimal('2000.0000'), 1),
 (149, Decimal('2100.0000'), 1),
 (150, Decimal('1200.0000'), 1),
 (151, Decimal('1040.0000'), 1)]

In [3]:
%%sql
#10 Create a view named DealSummary that lists the DealID, DealName, number of players, total dollar value, and number of parts for each deal.
#Bonus: use a subquery to construct a comma-separated list of deal types for each deal. (Don't forget the comment and the select query.)
DROP VIEW IF EXISTS DealSummery;
Create VIEW DealSummery As
SELECT Deals.DealID, DealName, COUNT(PlayerID) AS NumPlayers, TotDollarValue, NumParts
FROM DEALS Join DealValues on (DEALS.DealID = DealValues.DealID)
	JOIN Players ON (DEALS.DealID = players.DealID)
GROUP BY Deals.DealID;
SELECT * FROM DealSummery;

0 rows affected.
0 rows affected.
149 rows affected.

[(1, 'ADT Limited', 3, Decimal('5600.0000'), 1),
 (2, 'Alex. Brown Inc.', 2, Decimal('1700.0000'), 1),
 (3, 'American Medical Response, Inc.', 2, Decimal('1120.0000'), 1),
 (4, 'American Standard Companies, Inc.', 2, Decimal('4000.0000'), 1),
 (5, 'Amphenol Corp.', 2, Decimal('1500.0000'), 1),
 (6, 'Bankamerica Corp.', 1, Decimal('1600.0000'), 1),
 (7, 'Berliner Kraft & Licht AG', 1, Decimal('1870.0000'), 1),
 (8, 'Cascade Communications Corp.', 2, Decimal('3700.0000'), 1),
 (9, 'Chancellor Broadcasting Comp.', 2, Decimal('1600.0000'), 1),
 (10, 'Cifra S.A.', 2, Decimal('1200.0000'), 1),
 (11, 'Coca Cola Bottling Co. of New York and Coca-Cola B', 2, Decimal('1617.0000'), 1),
 (12, 'Dauphin Deposit Corp.', 2, Decimal('1360.0000'), 1),
 (13, 'The Dow Chemical Company', 3, Decimal('1270.0000'), 1),
 (14, 'DQE Inc.', 2, Decimal('4210.0000'), 1),
 (15, 'Eller Media Corp.', 3, Decimal('1150.0000'), 1),
 (16, 'The Energy Group PLC', 2, Decimal('9700.0000'), 1),
 (17, 'First Financial Corp.', 2, Decimal('1050.0000'), 1),
 (18, 'First USA, Inc.', 2, Decimal('7000.0000'), 1),
 (19, 'Fort Howard Corp.', 2, Decimal('3400.0000'), 1),
 (20, 'General Motors Corp.', 3, Decimal('9500.0000'), 1),
 (21, 'Great Western Financial Corp.', 3, Decimal('6590.0000'), 1),
 (22, 'Healthsource, Inc.', 2, Decimal('1700.0000'), 1),
 (23, 'Hercules Inc. and Mallickrodt Inc', 2, Decimal('1100.0000'), 1),
 (24, 'Heritage Media Corp.', 2, Decimal('1355.0000'), 1),
 (25, 'HFS Inc.', 2, Decimal('10900.0000'), 1),
 (26, 'Horizon/CMS Healthcare Corp.', 2, Decimal('1650.0000'), 1),
 (27, 'International Family Entertainment Inc.', 5, Decimal('1900.0000'), 1),
 (29, 'Johnson & Higgins', 2, Decimal('1800.0000'), 1),
 (30, 'Keystone International Inc.', 3, Decimal('1200.0000'), 1),
 (31, 'KU Energy Corporation', 2, Decimal('1500.0000'), 1),
 (32, 'Laidlaw Inc.', 2, Decimal('1230.0000'), 1),
 (33, 'Lincoln National Corporation', 2, Decimal('2820.0000'), 1),
 (34, 'Living Centers of America Inc.', 3, Decimal('1000.0000'), 1),
 (35, 'Minnesota Mining and Manufacturing Comp.', 2, Decimal('1000.0000'), 1),
 (36, 'Morgan Stanley Group Inc.', 2, Decimal('10500.0000'), 1),
 (37, 'Pacificorp', 2, Decimal('2223.0000'), 1),
 (38, 'Parker & Parsley Petrolium Company', 2, Decimal('1800.0000'), 1),
 (39, 'Read-Rite Corp.', 2, Decimal('1700.0000'), 1),
 (40, 'Renaissance Hotel Group N.V.', 4, Decimal('1000.0000'), 1),
 (41, 'Revco D.S., Inc.', 2, Decimal('3700.0000'), 1),
 (42, 'Stone-Consolidated Corp.', 2, Decimal('1500.0000'), 1),
 (43, 'Tambrands Inc.', 2, Decimal('2000.0000'), 1),
 (44, 'Target Therapeutics, Inc.', 2, Decimal('1100.0000'), 1),
 (45, 'Telco Communications Group Inc.', 3, Decimal('1080.0000'), 1),
 (46, 'Tencor Instruments Inc.', 2, Decimal('1300.0000'), 1),
 (47, 'Texas Instruments Inc.', 2, Decimal('2950.0000'), 1),
 (48, 'Transamerica Corp.', 2, Decimal('1100.0000'), 1),
 (49, 'The Unilever Group', 2, Decimal('8000.0000'), 1),
 (50, 'United Waste Systems, Inc.', 2, Decimal('1500.0000'), 1),
 (51, 'U.S. Bancorp', 2, Decimal('9000.0000'), 1),
 (52, 'Uslife Corp.', 2, Decimal('1770.0000'), 1),
 (53, 'U.S. Robotics Corp.', 2, Decimal('7300.0000'), 1),
 (54, 'U.S. West, Inc.', 2, Decimal('5000.0000'), 1),
 (55, 'Valero Energy Corp.', 2, Decimal('1500.0000'), 1),
 (56, 'Value Health, Inc.', 2, Decimal('1300.0000'), 1),
 (57, 'Verifone, Inc.', 2, Decimal('1180.0000'), 1),
 (58, 'Viacom Inc.', 3, Decimal('1075.0000'), 1),
 (59, 'Vivra Inc.', 2, Decimal('1590.0000'), 1),
 (60, 'Wyndham Hotel Corp.', 3, Decimal('1100.0000'), 1),
 (61, 'Yorkshire Electricity', 2, Decimal('2800.0000'), 1),
 (62, 'Celebrity Cruise Lines Inc', 4, Decimal('2625.0000'), 2),
 (63, 'Central Fidelity Banks Inc.', 2, Decimal('2300.0000'), 1),
 (64, 'Cigna Corporation', 3, Decimal('1400.0000'), 1),
 (65, 'Equitable of Iowa Companies', 2, Decimal('2600.0000'), 1),
 (66, 'Falcon Drilling Co.', 2, Decimal('2500.0000'), 1),
 (67, 'Imperial Chemical Industries PLC', 2, Decimal('3000.0000'), 1),
 (68, 'The Louisiana Land and Exploration Company', 2, Decimal('3000.0000'), 1),
 (69, 'Montgomery Securities', 2, Decimal('1200.0000'), 1),
 (70, 'The Multicare Companies, Inc.', 2, Decimal('1392.0000'), 1),
 (71, 'New York State Electric & Gas Corp.', 2, Decimal('1920.0000'), 1),
 (72, 'Northrop Grumman Corp.', 2, Decimal('8260.0000'), 1),
 (73, 'Octel Communications Corporation', 2, Decimal('1800.0000'), 1),
 (74, 'Nellcor Puritan Bennett Inc.', 2, Decimal('1900.0000'), 1),
 (75, 'Pennzoil Comp.', 2, Decimal('6200.0000'), 1),
 (76, 'Rykoff Sexton Inc.', 3, Decimal('1389.0000'), 1),
 (77, 'Scudder, Stevens & Clark Inc.', 2, Decimal('1667.0000'), 1),
 (78, 'Signet Banking Corp.', 2, Decimal('3250.0000'), 1),
 (79, 'Tandem Computers Inc.', 2, Decimal('3000.0000'), 1),
 (80, 'Barnett Banks, Inc.', 2, Decimal('15500.0000'), 1),
 (81, 'Beacon Properties Corp.', 2, Decimal('4000.0000'), 1),
 (82, 'Bergen Brunswig Corp.', 2, Decimal('2500.0000'), 1),
 (83, 'Chauvco Resources LTD.', 2, Decimal('1197.0000'), 1),
 (84, 'Doubletree Corporation', 2, Decimal('2000.0000'), 1),
 (85, 'Evans Withycombe Residential Inc.', 2, Decimal('1057.0000'), 1),
 (86, 'Fisher Scientific International Inc.', 2, Decimal('1060.0000'), 1),
 (87, 'W.R. Grace & Comp.', 2, Decimal('4900.0000'), 1),
 (88, 'H&R Block Inc.', 2, Decimal('1200.0000'), 1),
 (90, 'Monterey Resources Inc.', 2, Decimal('1100.0000'), 1),
 (91, 'Ralston Purina Co.', 2, Decimal('1500.0000'), 1),
 (92, 'SFX Broadcasting Inc.', 3, Decimal('1200.0000'), 1),
 (93, 'Western National Corp.', 2, Decimal('1200.0000'), 1),
 (94, 'Westin Hotels & Resorts', 2, Decimal('1780.0000'), 1),
 (95, 'Westinghouse Electric Corp.', 2, Decimal('2560.0000'), 1),
 (96, 'American Radio Systems Corp.', 2, Decimal('2600.0000'), 1),
 (97, 'Amerisource Health Corp.', 2, Decimal('2322.0000'), 1),
 (98, 'Apria Healthcare Group Inc.', 2, Decimal('1450.0000'), 1),
 (99, 'Brooks Fiber Properties, Inc.', 2, Decimal('2900.0000'), 1),
 (100, 'Calilber Systems Inc.', 2, Decimal('2237.0000'), 1),
 (101, 'Coopers & Lybrand L.L.P.', 2, Decimal('12000.0000'), 1),
 (102, 'Greenfield Industries, Inc.', 2, Decimal('1000.0000'), 1),
 (103, 'MCI Communications Corporation', 4, Decimal('78880.0000'), 3),
 (104, 'Network General Corp.', 2, Decimal('1300.0000'), 1),
 (105, 'Powernet Victoria', 2, Decimal('1880.0000'), 1),
 (106, 'The Quick & Reilly Group, Inc.', 2, Decimal('1600.0000'), 1),
 (107, 'Salomon Inc.', 2, Decimal('9000.0000'), 1),
 (108, 'Sony Corporation of America', 4, Decimal('1000.0000'), 1),
 (109, 'Rohr Inc.', 2, Decimal('1216.0000'), 1),
 (110, 'Tejas Gas Corp.', 3, Decimal('2350.0000'), 1),
 (111, 'T&N PLC', 2, Decimal('2300.0000'), 1),
 (112, 'Viacom Inc.', 2, Decimal('1700.0000'), 1),
 (113, 'Advanta Corp.', 2, Decimal('1300.0000'), 1),
 (114, 'Browning-Ferris Industries Inc.', 2, Decimal('1450.0000'), 1),
 (115, 'Corestates Financial Corp.', 3, Decimal('18000.0000'), 1),
 (116, 'Cowles Media Company', 2, Decimal('1490.0000'), 1),
 (117, 'The Dow Chemical Company', 2, Decimal('3000.0000'), 2),
 (118, 'Ernst & Young LLP', 2, Decimal('13000.0000'), 1),
 (119, 'First Commerce Corp.', 2, Decimal('3000.0000'), 1),
 (120, 'Healthsouth Corp.', 2, Decimal('1250.0000'), 1),
 (121, 'Homeside, Inc.', 3, Decimal('1230.0000'), 1),
 (122, 'ITT Corp.', 3, Decimal('19500.0000'), 2),
 (123, 'Lin Television Corp.', 3, Decimal('3900.0000'), 2),
 (124, "Mac Frugal's Bargains & Close-Outs Inc.", 2, Decimal('1000.0000'), 1),
 (125, 'Medpartners, Inc.', 2, Decimal('8180.0000'), 1),
 (126, 'Quality Food Centers Inc.', 3, Decimal('1700.0000'), 1),
 (127, 'Ralphs Grocery Company', 3, Decimal('3100.0000'), 1),
 (128, 'Safety-Kleen Corp.', 2, Decimal('1800.0000'), 1),
 (129, 'Santa Fe Pacific Pipeline Partners', 2, Decimal('1100.0000'), 1),
 (130, 'Seagram Company', 3, Decimal('4100.0000'), 1),
 (131, 'Universal Outdoor Holdings Inc.', 2, Decimal('1750.0000'), 1),
 (132, 'Westinghouse Electric Corp.', 2, Decimal('1525.0000'), 1),
 (133, 'Allied Colloids Group PLC', 2, Decimal('1810.0000'), 1),
 (134, 'American First Financial Insurance Group Inc.', 2, Decimal('2200.0000'), 1),
 (135, 'AT&T Capital Corp.', 2, Decimal('1600.0000'), 1),
 (136, 'BDM International', 2, Decimal('1000.0000'), 1),
 (137, 'Central & South West Corp.', 2, Decimal('6600.0000'), 1),
 (138, 'Coulter Corp.', 2, Decimal('1050.0000'), 1),
 (139, 'First of America Bank Corp.', 2, Decimal('6800.0000'), 1),
 (140, 'Hermann Healthcare System', 2, Decimal('1000.0000'), 1),
 (141, 'Interstate Hotel Company', 3, Decimal('2640.0000'), 2),
 (142, 'Lucas Varity PLC', 2, Decimal('1330.0000'), 1),
 (143, 'MAPCO Inc.', 2, Decimal('3460.0000'), 1),
 (144, 'Mercury Asset Management Group, P.L.C.', 2, Decimal('5300.0000'), 1),
 (145, 'Renal Treatment Centers Inc.', 2, Decimal('1100.0000'), 1),
 (146, 'Retail Property Trust', 5, Decimal('1000.0000'), 1),
 (147, 'Showboat Inc.', 2, Decimal('1283.0000'), 1),
 (148, 'Sodexho Alliance S.A.', 2, Decimal('2000.0000'), 1),
 (149, 'Starwood Lodging Corp.', 2, Decimal('2100.0000'), 1),
 (150, 'United Meridian Corp.', 2, Decimal('1200.0000'), 1),
 (151, 'Zilkha Energy Co.', 2, Decimal('1040.0000'), 1)]

In [ ]:
%%sql
#12 Create a view called DealPlayers that lists the CompanyID, Name, and Role Code for each deal. Sort the players by the RoleSortOrder.
DROP VIEW IF EXISTS DealPlayers;
CREATE VIEW DealPlayers as
SELECT DealID, CompanyID, CompanyName, RoleCode
From Players
	JOIN Deals Using (DealID)
    JOIN COMPANIES Using(CompanyID)
    JOIN ROLECODES USING (RoleCode)
ORDER BY ROLESORTORDER;

In [ ]:
%%sql
#13Create a view called DealsByFirm that lists the FirmID, Name, number of deals, and total value of deals for each firm.
#Each firm should be listed, even if there are no deals for that firm. (Don't forget the comment and the select query.)
DROP VIEW IF EXISTS DealsByFirm;
CREATE VIEW DealsByFirm as
Select FirmID, `Name` AS FIRMNAME, COUNT(PLAYERS.DealID) AS NumDeals,SUM(TotDollarValue) AS Totvalue
FROM FIRMS
	left JOIN PLAYERSUPPORTS USING (FirmID)
    left JOIN PLAYERS USING (PlayerID)
    left JOIN DealValues USING (DealID)
GROUP BY FirmID, `Name`;